{% extends 'main/base.html.twig' %}

{% block body %}
    {{ parent() }}
    <main role="main">
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container-lg">
                <h1 class="display-3">Bienvenue!</h1>
                <p>Bienvenue sur le site des Ritournelles</p>
                <p>Si vous aimez les casses-têtes à base de jeux de mots, vous êtes bien tombé :)</p>
            </div>
        </div>
        <div class="container-lg">
            <h1>Comment ça se passe ?</h1>
            <p>Chaque jour, une ritournelle vous est proposée.</p>
            <p>La réponse est composée de synonymes et/ou de contraires des mots de l'énigme (ex : L'énigme "Le bol de terre" a pour réponse "La coupe du monde")</p>
            <p>Les majuscules et les accents sont ignorés lorsqu'on teste la réponse (mais pas les fautes d'orthographes)</p>
            <p>La ritournelle correspond toujours à une œuvre connue, ou un dicton connu, ou toute autre phrase connue.</p>
            <p>À 9h, la ritournelle est affichée.</p>
            <p>Si vous trouvez la réponse avant midi, alors vous faites le plein de points.</p>
            <p>À 12h, un indice est donné. Vous avez alors jusqu'à 18h pour trouver la réponse.</p>
            <p>À 18h, la réponse est donnée.</p>
        </div>
    </main>
{% endblock %}

