{% trans_default_domain 'ritournelle' %}

{% extends 'ritournelle/base.html.twig' %}

{% block body %}
    {{ parent() }}
    <main role="main">
        <div class="container-lg mt-5">
            <div class="row">
                <div class="col-9">
                    {{ form_start(commentFormView) }}
                    <div class="form-group">
                        {{ form_label(commentFormView.rating) }}
                        {{ form_widget(commentFormView.rating) }} {# sera "écrasé" par les radio button ci-dessous #}
                        {% include 'ritournelle/inc/rating.html.twig' with {'disabled': false} %}
                    </div>
                    <div class="form-group">
                        {{ form_label(commentFormView.comment_ritournelle) }}
                        {{ form_widget(commentFormView.comment_ritournelle) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(commentFormView.comment) }}
                        {{ form_widget(commentFormView.comment) }}
                    </div>
                    {{ form_widget(commentFormView.save) }}
                    {{ form_end(commentFormView) }}
                </div>
                {{ include('ritournelle/inc/winner.html.twig') }}
            </div>
        </div>
    </main>
{% endblock %}

{% block title %}Que pensez-vous de cette ritournelle ?{% endblock %}
