{% trans_default_domain 'ritournelle' %}

{% extends 'ritournelle/base.html.twig' %}

{% block title %}
    {{ 'ritournelle.game_title'|trans }}
{% endblock %}

{% block body %}
    {{ parent() }}
    {% set hour = 'now'|date('H') %}
    {% set hour_start = 9 %}
    {% set hour_clue = 12 %}
    {% set hour_end = 18 %}
    <main role="main">
        <div class="container-lg mt-5">
            <div class="row">
                {% if hour < hour_start %}
                    <div class="col-12">
                        <p class="lead mb-5 text-info">
                            {{ 'ritournelle.too_early'|trans({'time': hour_start}) }}
                        </p>
                        <hr class="mt-5 mb-5">
                        {#                        <h2>#}
                        {#                            {{ 'ritournelle.warm_up'|trans }}#}
                        {#                        </h2>#}
                        <div id="accordion" class="mt-5">
                            {{ include('ritournelle/inc/previous.html.twig') }}
                        </div>
                    </div>
                {% else %}
                    <div class="col-9">
                        {% include('ritournelle/inc/points.html.twig') %}
                        {% if result %}
                            {{ include('ritournelle/inc/ritournelleStatic.html.twig') }}
                            <p class="lead text-success">
                                {{ 'ritournelle.congrats'|trans({'time': result.replyAt|date("H") ~ 'h' ~ result.replyAt|date("i")})|nl2br }}
                            </p>
                            <hr class="mt-5 mb-5">
                            <p>
                                {{ 'ritournelle.defy_text'|trans }}
                            </p>
                            <div id="accordion">
                                {{ include('ritournelle/inc/defy.html.twig') }}
                                {{ include('ritournelle/inc/others.html.twig') }}
                                {{ include('ritournelle/inc/previous.html.twig') }}
                            </div>
                        {% elseif hour >= hour_end %}
                            <h2>{{ 'ritournelle.too_late'|trans }}</h2>
                            {{ include('ritournelle/inc/ritournelleStatic.html.twig') }}
                            <hr class="mt-5 mb-5">
                            <h2>
                                {{ 'ritournelle.train'|trans }}
                            </h2>
                            <div id="accordion">
                                {{ include('ritournelle/inc/defy.html.twig') }}
                                {{ include('ritournelle/inc/others.html.twig') }}
                                {{ include('ritournelle/inc/previous.html.twig') }}
                            </div>
                        {% else %}
                            {{ form_start(responseFormView) }}
                            <div class="form-group">
                                {{ form_label(responseFormView.enigma) }}
                                {% if 'ROLE_ADMIN' not in ritournelle.user.roles %}&nbsp;
                                    {{ 'ritournelle.proposed'|trans({'name': ritournelle.user.name}) }}
                                {% endif %}
                                {{ form_widget(responseFormView.enigma) }}
                            </div>
                            <div class="form-group">
                                <span data-toggle="modal" data-target="#trialsModal">
                                    <button type="button" class="btn btn-link"
                                            style="padding-left: 0;padding-right: 0;"
                                            data-toggle="tooltip" data-placement="right"
                                            title="{{ 'ritournelle.trials'|trans({'trials':app.user.trials(game)|length})|raw }}">
                                    {#                                    {{ form_label(responseFormView.response) }}#}
                                        {{ 'ritournelle.response'|trans }}
                                    </button>
                                </span>
                                <div class="float-right">
                                    <span data-toggle="modal" data-target="#jokerModal">
                                        <button type="button" class="btn btn-link"
                                                style="padding-left: 0;padding-right: 0; filter: grayscale({{ (2 - app.user.availableJoker(game))/2*100 }}%);"
                                                data-toggle="tooltip" data-placement="top"
                                                title="{{ 'ritournelle.joker.tooltip'|trans({'nb': app.user.availableJoker(game)}) }}">
                                            🃏
                                        </button>
                                    </span>
                                </div>
                                {{ form_widget(responseFormView.response) }}
                                <!-- Modal -->
                                <div class="modal fade" id="trialsModal" tabindex="-1" role="dialog"
                                     aria-labelledby="trialsModalTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title"
                                                    id="trialsModalLongTitle">{{ 'ritournelle.trialsModal.title'|trans }}</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body" id="trials-modal-body">
                                                {% if app.user.trials(game)|length %}
                                                    {{ 'ritournelle.trials.list'|trans }}
                                                    <ol>
                                                        {% for response in app.user.trials(game) %}
                                                            <li>{{ response.response }}</li>
                                                        {% endfor %}
                                                    </ol>
                                                {% else %}
                                                    {{ 'ritournelle.trials'|trans({'trials':app.user.trials(game)|length})|raw }}
                                                {% endif %}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary"
                                                        data-dismiss="modal">{{ 'ritournelle.trialsModal.close'|trans }}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal -->
                                <div class="modal fade" id="jokerModal" tabindex="-1" role="dialog"
                                     aria-labelledby="jokerModalTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title"
                                                    id="jokerModalLongTitle">{{ 'ritournelle.joker.modal.title'|trans }}</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body" id="joker-modal-body">
                                                <p data-toggle="tooltip"
                                                   data-placement="top"
                                                   data-html="true"
                                                title="{{ 'ritournelle.joker.modal.body'|trans|raw }}">
                                                    {{ 'ritournelle.joker.tooltip'|trans({'nb': app.user.availableJoker(game)}) }}
                                                </p>
                                                <ol>
                                                    <li>
                                                        {% set similarityJoker = constant('App\\Entity\\JokerPlayed::JOKER_SIMILARITY')  %}
                                                        <div data-toggle="tooltip" data-placement="left"
                                                             title="{% if app.user.trials(game)|length == 0 %}{{ 'ritournelle.joker.similarity.tooltip.no_trial'|trans }}{% else %}{{ 'ritournelle.joker.similarity.tooltip'|trans }}{% endif %}"
                                                             id="jokerDiv{{ similarityJoker }}">
                                                            {% if game.getJokerPlayedBy(app.user, similarityJoker) %}
                                                                {{ game.getJokerPlayedBy(app.user, similarityJoker).clue|raw }}
                                                            {% else %}
                                                                <button id="jokerButton{{ similarityJoker }}"
                                                                        type="button"
                                                                        class="btn btn-info"
                                                                        style="margin: 0.5rem"
                                                                        onclick="getClue({{ similarityJoker }})"
                                                                        {% if app.user.trials(game)|length == 0 %}disabled{% endif %}>
                                                                    {{ 'ritournelle.joker.similarity.button'|trans }}
                                                                </button>
                                                            {% endif %}
                                                        </div>
                                                    </li>
                                                    <li>
                                                        {% set randomWordJoker = constant('App\\Entity\\JokerPlayed::JOKER_RANDOM_WORD')  %}
                                                        <div data-toggle="tooltip"
                                                             data-placement="left"
                                                             title="{{ 'ritournelle.joker.random.tooltip'|trans }}"
                                                             id="jokerDiv{{ randomWordJoker }}">
                                                            {% if game.getJokerPlayedBy(app.user, randomWordJoker) %}
                                                                {{ game.getJokerPlayedBy(app.user, randomWordJoker).clue|raw }}
                                                            {% else %}
                                                                <button id="jokerButton{{ randomWordJoker }}"
                                                                        type="button"
                                                                        class="btn btn-info"
                                                                        style="margin: 0.5rem"
                                                                        onclick="getClue({{ randomWordJoker }})"
                                                                        {% if not game.getJokerPlayedBy(app.user, constant('App\\Entity\\JokerPlayed::JOKER_SIMILARITY')) %}disabled{% endif %}>
                                                                    {{ 'ritournelle.joker.random.button'|trans }}
                                                                </button>
                                                            {% endif %}
                                                        </div>
                                                    </li>
                                                    {#                                                    <li data-toggle="tooltip" data-placement="top" title="il n'est pas obligé de répondre 🙈"><button type="button" class="btn btn-info" style="margin: 0.5rem">Demander un indice à un des vainqueurs</button></li>#}
                                                </ol>
                                                <br>
                                                {{ 'ritournelle.joker.cost'|trans }}️
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary"
                                                        data-dismiss="modal">{{ 'ritournelle.jokerModal.close'|trans }}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                {% if hour >= hour_clue %}
                                    <p class="lead mt-2">
                                        {{ 'ritournelle.clue.label'|trans({'clue': ritournelle.clue}) }}
                                    </p>
                                {% endif %}
                            </div>
                            {{ form_widget(responseFormView.save) }}
                            {{ form_end(responseFormView) }}
                            {% if previousRitournelle %}
                            <div id="accordion" class="mt-5">
                                {{ include('ritournelle/inc/previous.html.twig') }}
                            </div>
                            {% endif %}
                        {% endif %}
                    </div>
                    {{ include('ritournelle/inc/winner.html.twig') }}
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        function reqListenerClue () {
            let text = '';
            if (this.status != 200) {
                text = "{{ 'ritournelle.joker.clue.problem'|trans }}";
            } else {
                text = this.response.clue;
            }
            $('#jokerDiv'+this.response.joker).html(text);
            $('#jokerButton'+(parseInt(this.response.joker)+1)).prop('disabled', false);
        }
        function getClue(joker) {
            // on fait un appel JS pour avoir le clue
            let xhr = new XMLHttpRequest();
            xhr.onload = reqListenerClue;
            xhr.open("POST", "{{ path('joker_play', {'id': app.user.id}) }}", true);
            //Send the proper header information along with the request
            xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
            xhr.responseType = 'json';
            let params = "joker="+joker;
            try {
                xhr.send(params);
            } catch(err) { // instead of onerror
                text = "{{ 'ritournelle.joker.clue.problem'|trans }}";
                $('#jokerDiv'+this.response.joker).html(text);
            }
        }
    </script>
{% endblock %}
