{% trans_default_domain 'ritournelle' %}

{% extends 'ritournelle/base.html.twig' %}

{% block title %}
    {{ 'ritournelle.list_title'|trans }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="row">
    {% for ritournelle in ritournelles %}
        <div class="col-sm-3">
            <div class="card mt-4" style="min-height: 15rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ ritournelle.enigma }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ ritournelle.response }}</h6>
                    <p class="card-text">{{ 'ritournelle.clue'|trans }} :<br>{{ ritournelle.clue }}</p>
                    <a href="{{ path('ritournelle_add', {'id': ritournelle.id}) }}" class="card-link">{{ 'ritournelle.edit'|trans }}</a>
                    <p>{{ 'ritournelle.proposed_by'|trans({'name': ritournelle.user.firstName~' '~ritournelle.user.lastName, 'username':ritournelle.user.username }) }}</p>
                    {#<a href="#" class="card-link">Another link</a>#}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
