{% trans_default_domain 'ritournelle' %}
<div class="card">
    <div class="card-header" id="headingOne">
        <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse"
                    data-target="#collapseDefy" aria-expanded="true"
                    aria-controls="collapseDefy">
                {{ 'ritournelle.defy_title'|trans }}{% if not customRitournelleFormView %} - {{ 'ritournelle.defy.found'|trans({'nb': customResults|length}) }}{% endif %}
            </button>
        </h5>
    </div>

    <div id="collapseDefy"
         class="collapse {% if customRitournelleFormView %}show{% else %}hide{% endif %}"
         aria-labelledby="headingDefy"
         data-parent="#accordion">
        <div class="card-body">
            {% if customRitournelleFormView %}
                {{ form_start(customRitournelleFormView) }}
                <div class="form-group">
                    {{ form_label(customRitournelleFormView.enigma) }}
                    {{ form_widget(customRitournelleFormView.enigma) }}
                </div>
                <div class="form-group">
                    {{ form_label(customRitournelleFormView.response) }}
                    {{ form_widget(customRitournelleFormView.response) }}
                </div>
                <div class="form-group">
                    {{ form_label(customRitournelleFormView.clue) }}
                    {{ form_widget(customRitournelleFormView.clue) }}
                </div>
                {{ form_widget(customRitournelleFormView.save) }}
                {{ form_end(customRitournelleFormView) }}
            {% else %}
                <div class="container-lg">
                    <div class="row" style="height: 150px">
                        <div class="col-6">
                            <p>
                                {{ 'ritournelle.yours'|trans }}
                            </p>
                            <h5 class="card-title">{{ customRitournelle.enigma }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ customRitournelle.response }}</h6>
                            <p class="card-text">{{ 'ritournelle.clue'|trans }}
                                :<br>{{ customRitournelle.clue }}</p>
                        </div>
                        <div class="col-6 mh-100" style="overflow-y: scroll;">
                            <ul class="list-group">
                                {% for customResult in customResults %}
                                    <li class="list-group-item list-group-item-action">
                                        {{ 'ritournelle.user_found'|trans({'user':customResult.user.username, 'time': customResult.replyAt|date("H") ~ 'h' ~ customResult.replyAt|date("i")}) }}
                                    </li>
                                {% else %}
                                    <p>
                                        {{ 'ritournelle.custom_not_found'|trans }}
                                    </p>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
