{#
<div class="d-flex justify-content-start alert alert-light" role="alert">
    <div class="p-2">points à prendre :</div>
    <div class="p-2 mr-2 ml-2 bg-warning text-white" style="border-radius: 50%;background: green; width: 2.5rem; height: 2.5rem; text-align: center">10</div>
    <div class="p-2 mr-2 ml-2 bg-warning text-white" style="border-radius: 50%;background: green; width: 2.5rem; height: 2.5rem; text-align: center">8</div>
    <div class="p-2 mr-2 ml-2 bg-warning text-white" style="border-radius: 50%;background: green; width: 2.5rem; height: 2.5rem; text-align: center">6</div>
    <div class="p-2 mr-2 ml-2 bg-warning text-white" style="border-radius: 50%;background: green; width: 2.5rem; height: 2.5rem; text-align: center">4</div>
    <div class="p-2 mr-2 ml-2 bg-warning text-white" style="border-radius: 50%;background: green; width: 2.5rem; height: 2.5rem; text-align: center">2</div>
</div>
#}
