{% trans_default_domain 'ritournelle' %}
<div class="card">
    <div class="card-header" id="headingOne">
        <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse"
                    data-target="#collapsePrevious" aria-expanded="true"
                    aria-controls="collapsePrevious">
                {{ 'ritournelle.previous'|trans }}
            </button>
        </h5>
    </div>

    <div id="collapsePrevious"
         class="collapse hide"
         aria-labelledby="headingPrevious"
         data-parent="#accordion">
        <div class="card-body">
            <label>{{ 'ritournelle.enigma'|trans }}</label>
            {% set rating = previousRitournelle.lastRating|default(null) %}
            {% if rating > 0 %}
                {% include 'ritournelle/inc/rating.html.twig' with {'disabled': true} %}
            {% endif %}
            <h5 class="card-title">{{ previousRitournelle.enigma|default('') }}</h5>
            <button class="btn btn-secondary" type="button"
                    data-toggle="collapse"
                    data-target="#collapseClue"
                    aria-expanded="false"
                    aria-controls="collapseExample">
                {{ 'ritournelle.show_clue'|trans }}
            </button>
            <div class="collapse"
                 id="collapseClue">
                <p class="mt-2 card-text">
                    {{ previousRitournelle.clue|default('') }}
                </p>
            </div>
            <br>
            <button class="btn btn-secondary mt-2" type="button"
                    data-toggle="collapse"
                    data-target="#collapseResponse"
                    aria-expanded="false"
                    aria-controls="collapseExample">
                {{ 'ritournelle.show_response'|trans }}
            </button>
            <div class="collapse"
                 id="collapseResponse">
                <p class="mt-2 card-text">
                    {{ previousRitournelle.response|default('')|escape }}
                </p>
            </div>
        </div>
    </div>
</div>
