{% trans_default_domain 'ritournelle' %}

{{ form_label(responseFormView.enigma) }}
{{ form_widget(responseFormView.enigma) }}
{% if hour >= hour_clue %}
    <p class="lead mt-2">
        {{ 'ritournelle.clue.label'|trans({'clue': ritournelle.clue}) }}
    </p>
{% endif %}
<p class="lead mt-3">
    {{ 'ritournelle.given_response'|trans({'response': ritournelle.response|escape})|raw }}
</p>
