<html>
<head>

</head>
<body>
<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <img src="https://www.ritournelle.eu/img/ritournelle.png">
            <br>
        </td>
    </tr>
    <tr>
        <td style="padding: 3%;">
            Bonjour {{ name }},<br><br>
            Une demande de changement de mot de passe a été faite pour ce courriel.<br><br>

            Si vous êtes bien à l'origine de ce changement, cliquez sur le lien ci-dessous ou copiez le dans un navigateur.<br>
            <a href="{{ url('change_password', {'token': token}) }}">{{ url('change_password', {'token': token}) }}</a> ;)
        </td>
    </tr>
    <tr>
        <td>
            <br>
            <table cellspacing="0" cellpadding="0">
                <tr>
                    <td style="border-radius: 2px;" bgcolor="#24412b">
                        <a href="{{ url('change_password', {'token': token}) }}" target="_blank" style="padding: 8px 12px; border: 1px solid #688567;border-radius: 2px;font-family: Helvetica, Arial, sans-serif;font-size: 14px; color: #ffffff;text-decoration: none;font-weight:bold;display: inline-block;">
                            Changer mon mot de passe
                        </a>
                    </td>
                </tr>
            </table>
            <br>
        </td>
    </tr>
</table>
</body>
</html>
