<html>
<head>

</head>
<body>
<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <img src="https://www.ritournelle.eu/img/ritournelle.png">
            <br>
        </td>
    </tr>
    <tr>
        <td style="border-radius: 2px;" bgcolor="#688567" width="100%" align="center">
            <div style="padding: 8px 12px; border: 1px solid #688567;border-radius: 2px;font-family: Helvetica, Arial, sans-serif;font-size: 20px; color: #ffffff;text-decoration: none;font-weight:bold;display: inline-block;">
                🏆 Une nouvelle Ritournelle des vainqueurs vient d'être publiée 🏆
            </div>
            <br>
        </td>
    </tr>
    <tr>
        <td style="padding: 3%;">
            Re-Bonjour {{ name }},<br><br>
            {{ customRitournelle.user.username }} vous défie de trouver la <a href="https://www.ritournelle.eu/magik_connect/{{ token_play }}" target="_blank"><b>Ritournelle</b></a> suivante : <br>

            <br><br>
            <blockquote
                    style="background-color: #acc9ab;padding: 15px;padding-left: 25px;font-weight: bold;font-size: large;">{{ customRitournelle.enigma }}</blockquote>
            <br><br>

            🤔 Si tu la trouves un peu difficile, {{ customRitournelle.user.username }} t'a laissé un indice.
        </td>
    </tr>
    <tr>
        <td>
            Déjà trouvé ? Il ne te reste plus qu'à cliquer <a
                    href="https://www.ritournelle.eu/magik_connect/{{ token_play }}" target="_blank">ici</a>
        </td>
    </tr>
    <tr>
        <td>
            <br><br><br>
            <table cellspacing="0" cellpadding="0">
                <tr>
                    <td style="border-radius: 2px;" bgcolor="#24412b">
                        <a href="https://www.ritournelle.eu/magik_connect/{{ token_play }}" target="_blank"
                           style="padding: 8px 12px; border: 1px solid #688567;border-radius: 2px;font-family: Helvetica, Arial, sans-serif;font-size: 14px; color: #ffffff;text-decoration: none;font-weight:bold;display: inline-block;">
                            Répondre
                        </a>
                    </td>
                </tr>
            </table>
            <br>
            <div style="font-style: italic;padding: 5px;">NB : Cette ritournelle ne compte pas pour le <a href="https://www.ritournelle.eu/ranking_connect/{{ token_ranking }}" target="_blank">classement</a>. Elle est uniquement ouverte aux vainqueurs du jour 😉</div>
        </td>
    </tr>
    <tr>
        <td>
            <br><br><br><br><br><br><br>
            T'en as marre de recevoir les ritournelles des autres vainqueurs par courriel ?<br>
            <a href="https://www.ritournelle.eu/change_notification_ritournelle/{{ token_play }}" target="_blank"
            style="color: #24412b">Clique ici pour te connecter et répond <b>NON</b> à la question <i>{{ 'ritournelle.others.notify'|trans({}, 'ritournelle', 'fr') }}</i></a><br>
            Bien entendu, cela ne t'empêchera pas de répondre aux ritournelles des vainqueurs ;)
        </td>
    </tr>
</table>
</body>
</html>
