{% trans_default_domain 'user' %}

<div class="my-2 my-lg-0">
    <ul class="navbar-nav mr-auto align-middle list-inline text-center align-items-center">
        {% if app.user %}
            <li class="nav-item">
                <span class="navbar-text">
                    <a class="nav-link" href="{{ path('user_profile', { 'id': app.user.id }) }}">
                        {{ app.user.firstName }} {{ app.user.lastName }}
                    </a>
                </span>
            </li>
            <li class="nav-item">
                <span class="navbar-text">
                    <a class="nav-link" href="{{ path('logout') }}">{{ 'user.deconnect'|trans }}</a>
                </span>
            </li>
        {% else %}
            <li class="nav-item">
                <span class="navbar-text">
                    <a class="nav-link" href="{{ path('register') }}">{{ 'user.account'|trans }}</a>
                </span>
            </li>
            <li class="nav-item">
                <span class="navbar-text">
                    <a class="nav-link" href="{{ path('connect') }}">{{ 'user.connect'|trans }}</a>
                </span>
            </li>
        {% endif %}
    </ul>
</div>
