{% trans_default_domain 'user' %}

{% extends 'main/base.html.twig' %}

{% block body %}
    {{ parent() }}
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} mt-4" role="alert">
                {{ message|trans }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="container-lg">
        <form action="{{ path('login') }}" method="post" class="form-signin">
            <label for="username" class="sr-only">{{ 'user.username'|trans }}</label>
            <input type="text" id="username" class="form-control" placeholder="{{ 'user.username'|trans }}"
                   name="_username"
                   value="{{ last_username }}" required autofocus/>

            <label for="password" class="sr-only">{{ 'user.password'|trans }}</label>
            <input type="password" id="password" name="_password" class="form-control"
                   placeholder="{{ 'user.password'|trans }}" required/>

            {#
                If you want to control the URL the user
                is redirected to on success (more details below)
            #}
            <input type="hidden" name="_target_path" value="{{ url('ritournelle_enigma') }}"/>

            <button class="btn btn-lg btn-primary btn-block" type="submit">{{ 'user.connecter'|trans }}</button>
            <a href="#" data-toggle="modal" data-target="#forgottenPassword">{{ 'user.password_forgotten'|trans }}</a>
        </form>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="forgottenPassword" tabindex="-1" role="dialog" aria-labelledby="forgottenPasswordLabel"
         aria-hidden="true">
        {{ form_start(userEmailForm) }}
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"
                        id="forgottenPasswordLabel">{{ 'user.forgottenPassword.title.modal'|trans }}</h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="{{ 'user.forgottenPassword.close.modal'|trans }}">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_label(userEmailForm.email) }}
                    {{ form_widget(userEmailForm.email) }}
                </div>
                <div class="modal-footer">
                    {{ form_widget(userEmailForm.close) }}
                    {{ form_widget(userEmailForm.send) }}
                </div>
            </div>
        </div>
        {{ form_end(userEmailForm) }}
    </div>
    </div>
{% endblock %}

{% block title %}
    {{ 'user.connect_title'|trans }}
{% endblock %}

