{% trans_default_domain 'user' %}

{% extends 'main/base.html.twig' %}

{% block title %}
    {{ 'user.list'|trans }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <ul class="list-group list-group-flush">
        {% for user in users %}
            <li class="list-group-item">{{ 'user.description'|trans({'%first_name%':user.firstName, '%last_name%':user.lastName, '%email%': user.email, '%username%': user.username}) }}</li>
        {% endfor %}
    </ul>

{% endblock %}

