{% trans_default_domain 'user' %}

{% extends 'ritournelle/base.html.twig' %}

{% block body %}
    {{ parent() }}
    <main role="main">
        <div class="container-lg mt-5">
            <div class="row">
                <div class="col-12">
                    {{ form_start(userProfileForm) }}
                    {{ form_widget(userProfileForm) }}
                    {{ form_end(userProfileForm) }}
                </div>
            </div>
        </div>
    </main>

{% endblock %}

{% block title %}
    {{ 'user.profile_title'|trans }}
{% endblock %}

